[Unit]
Description=Demo Service
 
[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/python3 /path/to/your/script/name_of_script.py "my daemon" --directory "/path/to/DirectoryToWatch/" --log-file "/path/to/logfile/name-of-file.*" --exclude-file "/path/to/excludeFile/name-of-file" --interval #ofSeconds
Restart=always
WorkingDirectory=Directory/To/Operate/On
Nice=19
LimitNOFILE=16384
 
[Install]
WantedBy=multi-user.target
