[Unit]
Description=Demo Service
 
[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/python3 /path/to/script/name_of_script.py "fileCheck" -d "/path/to/DirectoryToWatch/" -lf "/path/to/logfile/name-of-file.*" -ef "/path/to/excludeFile/name-of-file" -i NumofSecs(int) -exp "/path/to/expirey-folder" -meta "/path/to/meta-file"
Restart=always
WorkingDirectory=/path/to/DirectoryToWatch/
Nice=19
LimitNOFILE=16384
 
[Install]
WantedBy=multi-user.target
